@{ Session["sessionUsuario"] = 19;}

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://maps.google.com/?file=api&v=2.x&key=AIzaSyBXrpSPEEVDZsylDjI7l-q1erzfLiXquw4" type="text/javascript"></script>

@Scripts.Render("~/Scripts/Chepe.js")
    <script>

   var tm = setInterval(getSolicitudes, 5000);
   $(document).ready(function () {

       $("#mas2").hide();
       $("#resultado").show();
       $("#btnback").live("click", function () {
           $("#resultado").show();
           $("#map_canvas").hide();
           $("#mas2").hide();
           
           getSolicitudes();
       });

        $(".btnDetalle").live("click", function () {        
            var vorigen = $(this).attr("vorigen");
            var vdestino = $(this).attr("vdestino");
            var idViaje = $(this).attr("idviaje");
            $("#btnOk").attr("idViaje",idViaje) ;
            
            $("#resultado").html("");
            $("#mas2").show();
            
            var mas = getLL(vorigen);
           // alert(mas);
            dibujarMapa(vorigen, vdestino);
        });

        $("#btnOk").live("click", function () {
            var idViaje = $("#btnOk").attr("idViaje");
            $.ajax({
                type: 'POST',
                url: '/Viaje/Asignar',
                data: 'idViaje=' + idViaje,
                success: function (msg) {
                   
                    $("#resultado").html(msg);
                    $("#resultado").hide();
                    $("#mas2").hide();
                    
                }
            });
        });


        $("#contador").val("1");
        var contado = $("#contador").val();
        var che = parseInt(contado);
        
        if (che != 1) {
            alert("paso3");
        }


    });

    function getSolicitudes() {
        $("#resultado").html();
        $("#resultado").html("mario mixco gonzalez");
        $.ajax({
            type: 'POST',
            url: '/Viaje/lsolicitudes',            
            success: function (msg) {
                
                $("#resultado").html(msg);
            }
        });
    }



    function dibujarMapa(vorigen, vdestino) {
        $("#resultado").hide();
        $("#map_canvas").show();
        
        var map = new GMap2(document.getElementById("map_canvas"));
        //centramos el mapa en una latitud y longitud deseadas
        map.setCenter(new GLatLng(40.407, -3.68), 5);
        gdir = new GDirections(map);
        desde = vorigen;
        hasta = vdestino;
        gdir.load("from: " + desde + " to: " + hasta, { "locale": "sv", "travelMode": G_TRAVEL_MODE_DRIVING });
    }

</script>





<br />
<br />


<div id="resultado">



</div>




  
<div id="mas2" class="row">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="btn  btn-success " id="btnOk">Ok</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-danger ">No</button>
        </div>
        <div class="btn-group" role="group">
            <button id="btnback" type="button" class="btn  btn-info ">Back</button>
        </div>
    </div>
</div>

<div id="map_canvas" style="width: 100%; height: 270px"></div>